{# app/Resources/views/Default/new.html.twig #}
<div class="formbuild">
<p>form</p>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
<div class="data">
<p>Data goes here</p>
</div>

