{% extends 'AppBundle::Secured/layout.html.twig' %}

{% block content %}
   <div class="formbuild">
      <div id="formstart">
          {{ form_start(form) }}
          {{ form_widget(form) }}
          {{ form_end(form) }}
      </div>
   </div>
{% endblock %}
